<% provide(:title, 'Edit word') %>
<% provide(:button_text, 'Save') %>
<div class="container mt-4">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <h1 class="text-center">Admin | Update Words </h1>
      <%= form_for([:admin, @word]) do |f| %>
        <%= render 'shared/errors_messages', object: f.object %>

        <div class="form-group col-md-9 ">
          <%= f.label :content %>
          <%= f.text_field :content, class:'form-control',placeholder:"Enter word's content" %><br>
          <%= f.text_field :content, class:'form-control', placeholder: "Enter word's content" %><br>
        </div>

        <%= f.fields_for :word_answers do |builder| %>
          <div class="">
            <%= render "word_answer_fields", :f => builder %>
          </div>
        <% end %>

        <div class="text-center">
          <%= f.submit "Update Word", class: 'btn btn-primary' %>
        </div>

        <div class="col-lg-13">
          <%= link_to "Back", admin_words_path, class: 'btn btn-info pull-right' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
